# EmailJS — https://www.emailjs.com/
NEXT_PUBLIC_EMAILJS_SERVICE_ID="service_wsueymf"
NEXT_PUBLIC_EMAILJS_TEMPLATE_COMMANDE="template_lgkejta"
NEXT_PUBLIC_EMAILJS_TEMPLATE_CONTACT="template_uo1svky"
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=""
